# PostgreSQL
POSTGRES_DB=nozestrona
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

# Admin panel (domyślne - zmień w produkcji!)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123!

# JWT (zmień w produkcji!)
JWT_KEY=SuperSecretDevelopmentKey_ChangeMeInProduction_1234567890
